@model dynamic

@{
    ViewData["Title"] = "Guest";
}
@using BusinessObject
@{
    List<Product> Products = Model.Products;
    List<Category> Categories = Model.Categories;
}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-4">
            <h1 class="display-4">Welcome</h1>
        </div>

        <div class="col-md-8">
            <form method="get" asp-controller="Guest" asp-action="Index" class="mb-3">
                <div class="input-group">
                    <input type="search" class="form-control" name="name" value="@ViewBag.SearchValue"
                        placeholder="Search for products" />
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i> Search
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="border-end bg-light" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                @if (Categories.Count() > 0)
                {
                    @foreach (var category in Categories)
                    {
                        <a class="list-group-item list-group-item-action" asp-action="Index"
                            asp-route-categoryId="@category.CategoryId">
                            @category.CategoryName
                        </a>
                    }
                }
            </div>
        </div>

        <!-- Page content wrapper -->
        <div id="page-content-wrapper" class="container-fluid">
            <!-- Product Cards -->
            @if (Products.Count() > 0)
            {
                <div class="row">
                    @foreach (var product in Products)
                    {
                        if (product.Status == true)
                        {
                            <div class="col-md-4 mb-4">
                                <div class="card">
                                    <img class="card-img-top img-fluid" src="@product.Image" alt="Product Image"
                                        style="object-fit: cover; height: 350px;">
                                    <div class="card-body">
                                        <h5 class="card-title text-info">@product.ProductName</h5>
                                        <form method="POST" asp-controller="Cart" asp-action="Add">
                                            <p class="card-text">
                                                Price: $@product.Price<br />
                                                Quantity:
                                                <input name="Quantity" type="number" value="1" min="1" max="100" step="1"
                                                    oninput="validity.valid||(value='');" />
                                            </p>
                                            <input type="hidden" name="ProductId" value="@product.ProductId" />
                                            <button type="submit" class="btn btn-primary" onclick="showAlert()">Add to Cart</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            }
            else
            {
                <p class="text-info">No results matched!</p>
            }
        </div>
    </div>
</div>


@if (ViewBag.Message != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            alert("@ViewBag.Message");
        });
    </script>
}


@section scripts 
{
    <script>
        function showAlert() {
            alert("Item added to the cart!")
        }
    </script>
}